body{
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	background-image: url("imgs/bgTile.png");
}

#gameDiv, #uiDiv, #lobbyUi, #armySelectUi{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#lobbyUi{
	display: block;
}

#armySelectUi{
	display: none;
}

#gameDiv{
	display: none;
}

#header{
	display: inline-block;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	border-radius: 0px 0px 15px 0px;
	overflow-y: hidden;
	pointer-events: none;
}

#header p{
  margin-left: 10px;
  margin-right: 10px;
}

#minimap{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0);
	border: 2px solid black;
	border-radius: 15px 0px 0px 0px;
	overflow-y: hidden;
	pointer-events: none;
}

#minimapImg{
	width: 200px;
	height: 200px;
}

#messageBox{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 400px;
	height: 200px;
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	border-radius: 0px 15px 0px 0px;
	overflow-y: hidden;
	pointer-events: none;
}
#messageList{
  padding-left: 0px;
  list-style-type: none;
}

#messageList li{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.markedMsg{
  display: none;
  color: black;
  background: white;
}

.unmarkedMsg{
  color: white;
  background: none;
}

.allyOverview{
	display: block;
	position: fixed;
	background-color: #99ff66;
	border-left-style: solid;
	border-width: 2px;
	top: 0;
	right: 200px;
	bottom: 0;
	width: 200px;
}

.foeOverview{
	display: block;
	position: fixed;
	background-color: #ff9966;
	border-left-style: solid;
	border-width: 2px;
	top: 0;
	right: 200px;
	bottom: 0;
	width: 200px;
}

table{
	width: 100%;
	text-align: center;
	vertical-align: center;
	border-collapse: collapse;
}

th, td{
	border: 1px solid gray;
}

#openGamesTable{
	width: 80%;
	text-align: center;
	vertical-align: center;
	border-collapse: collapse;
}

#openGamesTable th{
	width: 25%;
	border: none;
	border-bottom: 1px solid black;
}

#openGamesTable td{
	width: 25%;
	margin: 2px;
	background-color: #EEEEEE;
	border: none;
}

#armySelectToolbar {
	background-color: darkgrey;
	margin: 5px;
	padding: 5px;
}

#armySearch,
#warriorSearch {
   margin: 5px;
   margin-bottom: 0px;
   padding: 5px;
   background-color: lightgreen;
   border: 2px solid black;
   border-bottom: none;
}

#armyTableDiv,
#warriorsTableDiv {
   margin: 5px;
   margin-top: 0px;
   padding: 5px;
   height: 200px;
   overflow: auto;
   border: 2px solid black;
   border-top: none;
   background-color: #EEEEEE;
}

.selectedRow {
	background-color: white;
}

#disk > .state {
	grid-template-areas:
		"movementrange empty"
		"attack additional"
		"defence damage";
}

#gameButtonsLeft{
	position: fixed;
	top: 200px;
	left: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

#gameButtonsRight{
	position: fixed;
	top: 200px;
	right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

div.button{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 15px 15px 15px 15px;
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	margin: 5px;
}

div.bLeft{
	border-radius: 0px 15px 15px 0px;
	margin-left: 0px;
}

div.bRight{
	border-radius: 15px 0px 0px 15px;
	margin-right: 0px;
}

div.bAction{
	background-color: #ffcc00;
}

div.bGreen{
	background-color: #99FF66;
}

div.bRed{
	background-color: #FF9966;
}

div.bDisabled{
	background-color: #a6a6a6;
}

div.bUnselected{
	box-shadow: none;
}

div.bSelected{
	box-shadow: inset 0 0 5px #000000;
}

div.bHovered{
	border-color: #0080ff;
}

#warriorTooltip{
	display: none;
	position: fixed;
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 15px 15px 15px 15px;
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	pointer-events: none;
}

#warriorTooltip table{
	width: 75%;
	text-align: center;
	vertical-align: center;
}

#warriorTooltip td{
	background-color: #FFFFFF;
	vertical-align: center;
	border: none;
	border-bottom: 1px solid black;
}

#warriorTooltip td img{
	vertical-align: center;
}
